<app-navbar></app-navbar>
<div class="container">
    <div class="div-payment">
        <div class="div-title">
            <p id="title">Inserisci i <span>dati</span> per il <span>pagamento</span></p>
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="div-form">
                <label for="amount">Ammontare<span>*</span></label>
                <input type="amount" id="amount" name="amount" required [(ngModel)]="amount" >
            </div>
            <div class="div-form">
                <label for="cardHolder">Titolare della carta<span>*</span></label>
                <input type="cardHolder" id="cardHolder" name="cardHolder" required [(ngModel)]="cardHolder"required>
            </div>
            <div class="div-form">
                <label for="cardNumber">Numero della carte<span>*</span></label>
                <input type="cardNumber" id="cardNumber" name="cardNumber" required [(ngModel)]="cardNumber">
            </div>
            <div class="div-form">
                <label for="cvv">CVV<span>*</span></label>
                <input type="cvv" id="cvv" name="cvv" required [(ngModel)]="cvv">
            </div>
            <button type="submit">Paga</button>
        </form>
    </div>
</div>