.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    padding: 0 20px;
}

.story-object-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.info {
    display: block;
}

.remove-button {
    margin-top: auto;
    text-align: right;
}