* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    gap: 20px; 
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

.div-title {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    width: 78%; 
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid rgb(204, 204, 204, 0.7);
    border-radius: none;
}

#title {
    font-size: 20pt;
    font-weight: bold;
}

span {
    color: red;
}

.div-objects {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 25%; 
    padding: 20px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #aaaa;
}

#div-info {
    float: left;
    height: 100px;
}

#div-text {
    padding-left: 0.5rem;
    border-left: 2px solid rgb(204, 204, 204, 0.7);
}

#div-text:hover {
    padding-left: 0.5rem;
    border-left: 3px solid rgb(204, 204, 204, 0.7);
}

.span-header {
    font-weight: bold;
    color: red;
}

.span-text {
    font-weight: none !important;
    color: black;
}

.span-text:hover {
    border-bottom: 1px solid black;
}

.div-button {
    text-align: right; 
    margin-top: 1rem; 
}

button {
    font-size: 9pt;
    color: white;
    padding: 7.5px 7.5px;
    background-color: crimson;
    border-radius: 5px;
    border: none !important;
}

button:hover {
    transition: background-color 0.5s;
    background-color: darkred;
}