<app-navbar></app-navbar>
<div class="container">
    <div id="div-story">
        <p id="title">{{ 'enter_the' | translate }} <span>{{ 'data' | translate }}</span> {{ 'of_the' | translate }} <span>{{ 'story' | translate }}</span></p>
        <form (ngSubmit)="onSubmit()">
            <div id="div-form">
                <label for="titolo">{{ 'title' | translate }}<span>*</span></label>
                <input type="text" placeholder="{{ 'placeholders.enter_the_title' | translate }}" name="titolo" maxlength="50" [(ngModel)]="titolo" required>
                <label for="categoria">{{ 'category' | translate }}<span>*</span></label>
                <input type="text" placeholder="{{ 'placeholders.enter_the_category' | translate }}" name="categoria" maxlength="50" [(ngModel)]="categoria" required>
            </div>
            <button type="submit">{{ 'create' | translate }}</button>
        </form>
    </div>
</div>