<app-navbar></app-navbar>
<div class="container">
    <div id="div-story">
        <p id="title">Inserisci i <span>dati</span> della <span>storia</span></p>
        <form (ngSubmit)="onSubmit()">
            <div id="div-form">
                <label for="titolo">Titolo</label>
                <input type="text" placeholder="Inserisci titolo" name="titolo" [(ngModel)]="titolo" required>
                <label for="categoria">Categoria</label>
                <input type="text" placeholder="Inserisci la categoria" name="categoria" [(ngModel)]="categoria" required>
            </div>
            <button type="submit">Crea</button>
        </form>
    </div>
</div>