<app-navbar></app-navbar>
<div class="container">    
    <div class="div-welcome">
        <p id="title">{{ 'hello' | translate }} <span>{{ username }}</span>, {{ 'welcome_back' | translate }} <span>storJ</span>!</p>
        <p>{{ 'to_play' | translate }} <span>{{ 'interactive_stories' | translate }}</span> {{ 'click_button' | translate }} <span id="span-button">{{ 'play' | translate }}</span>.</p>
        <p>{{ 'attention_payment' | translate }}  <span>{{ 'payment' | translate }}</span>, {{ 'by_clicking_the_button' | translate }} <span id="span-button">{{ 'pay' | translate }} </span>{{ 'placed_on_navbar' | translate }} <span>{{ 'top' | translate }}</span>.</p>
        <p>{{ 'to_create' | translate }}<span> {{ 'interactive_stories' | translate }} </span> {{ 'click_the_button' | translate }} <span id="span-button">{{ 'create' | translate }}</span>.</p>
    </div>
</div>