div {
    position: static;
}

.hidden-visible:hover span {
    color: blue;
    visibility: visible;
}

.visible-hidden {
    margin-left: 10px;
    visibility: hidden;
}

.messaggio {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}