<app-navbar></app-navbar>
<div class="container" *ngIf="currentScenario">
    <div class="scenario-box">
        <div class="info">
            <div><label>Id: {{ currentScenario.id }}</label></div>
            <div><label>Testo: {{ currentScenario.testo }}</label></div>
            <div><label>Tipo_risposta: {{ currentScenario.tipo_risposta }}</label></div>
            <div><label>Tipo_scenario: {{ currentScenario.tipo_scenario }}</label></div>
        </div>
    </div>

    <!-- Messaggio di complimenti -->
    <div *ngIf="currentScenario.tipo_scenario === 'FINALE'" class="final-message">
        <h2>Complimenti, hai finito la storia!</h2>
    </div>
</div>

<!-- Div per la visualizzazione delle scelte multiple dello scenario -->
<div class="multipleChoiceContainer">
    <div *ngIf="currentScenario?.tipo_risposta === 'MULTIPLA' && currentScenario?.tipo_scenario != 'FINALE'">
        <h2>Scelte multiple:</h2>
        <div *ngFor="let item of multipleChoices" class="multipleChoice-box">
            <div class="info">
                <div><label>id_scenario: {{ item.id_scenario }}</label></div>
                <div><label>Testo: {{ item.testo }}</label></div>
                <div><label>id_scenario_successivo: {{ item.id_scenario_successivo }}</label></div>
            </div>
            <div class="remove-button tooltip-container"
                [class.disabled-tooltip-container]="!checkRequired(item.id)">
                <button (click)="loadUserChoice(item.id_scenario_successivo)"
                    [disabled]="!checkRequired(item.id)">Scegli questo</button>
                <span class="tooltiptext">Non possiedi l'oggetto per fare questa scelta</span>
            </div>
        </div>
    </div>
</div>

<!-- Div per la visualizzazione del'indovinello dello scenario -->
<div class="singleChoiceContainer">
    <div class="singleChoice-box" *ngIf="currentScenario?.tipo_risposta === 'INDOVINELLO' && singleChoice">
        <h2>Rispondi all'indovinello</h2>
        <div class="info">
            <div><label>id_scenario: {{ singleChoice.id_scenario }}</label></div>
            <div><label>Testo: {{ singleChoice.testo }}</label></div>
        </div>
        <form (submit)="submitUserAnswer()">
            <input type="text" [(ngModel)]="userAnswer" name="userAnswer" required
                placeholder="Inserisci la tua risposta qui...">
            <button type="submit">Invia risposta</button>
        </form>
    </div>
</div>