<app-navbar></app-navbar>
<div class="container">
    <div class="div-text">
        <p id="title">{{ 'login_title' | translate }}</p>
        <p>{{ 'description' | translate }}</p>
        <p>{{ 'interactive_story' | translate }}</p>
        <div id="div-button">
            <a href="https://docs.google.com/document/d/e/2PACX-1vQT60002z4ymBNlmkg-5S2xZ4z1RUGPX2GqMxegJK7sw6_dsQEfgzr_lN7A0EqXwLioOlCCS_aSB3rO/pub">{{ 'technical_specifications' | translate }}</a>
            <a href="https://github.com/DavideDeRosa/storJ_SWE.git">{{ 'github_repository' | translate }}</a>
            <a href="https://docs.google.com/document/d/12nX1O3r97rHYZSwVZxLQrNB4b6FamV1uYsX-1Ptvj4c">{{ 'report' | translate }}</a>
        </div>
    </div>
</div>