<nav class="navbar">
    <div class="logo">
        <h1>storj</h1>
    </div>
    <div class="login">
         <!-- Mostra questi pulsanti solo se l'utente NON è autenticato -->
         <button mat-button routerLink="/login" *ngIf="!isAuthenticated()">Sign In</button>
         <button mat-button routerLink="/register" *ngIf="!isAuthenticated()">Sign Up</button>

         <!-- Mostra il bottone "Paga" solo se showPaymentButton è true -->
         <button mat-button routerLink="/payment" *ngIf="showPaymentButton">Paga</button>

         <!-- Mostra questo pulsante solo se l'utente è autenticato e ha effettuato il pagamento  -->
         <button mat-button routerLink="/handlerPlaypage" *ngIf="isAuthenticated() && !showPaymentButton">Gioca</button>

         <!-- Mostra questi pulsanti solo se l'utente è autenticato -->
         <button mat-button routerLink="/homeStories" *ngIf="isAuthenticated()">Crea</button>
         <button mat-button (click)="logout()" *ngIf="isAuthenticated()">Logout</button>
         

        

         <!-- Mostra il bottone "Crea Scenario" solo se l'utente è su "/createStory" (TEST FUNZIONANTE)-->
         <button mat-button routerLink="/createScenario" *ngIf="currentUrl === '/createStory' && isAuthenticated()">Crea Scenario</button>

         
    </div>
</nav>