* {
  font-family: Arial, sans-serif;
}

.navbar {
  display: inline;
  justify-content: space-between;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: white; 
}

.logo {
  float: left;
  margin-top: 1rem;
  margin-left: 2rem;
}

label {
  font-size: 12pt;
}

label:hover {
  transition: color 0.5s;
  color: red;
}

.arrow {
  font-weight: bold;
  color: black;
}

.logo a, .arrow {
  color: #fff;
  font-size: 24px;
  font-weight: bold; 
}

button {
  font-family: Arial, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  width: auto;
  height: auto;
  box-shadow: none !important;
  border-radius: 0%;
}

button:hover {
  transform: border 2s;
  border-bottom: 1px solid black;
}

.login {
  float: right;
  text-decoration: none;
  margin-top: 1rem;
  margin-right: 1rem;
  gap: 0.5rem;
  font-size: 18px;
}