<nav class="navbar">
    <div class="login">
        <div class="logo">
        <label routerLink="/home" *ngIf="currentUrl === '/home' || currentUrl === '/storJPage' || currentUrl === '/register' || currentUrl === '/login'"><img id="image" src="../../../assets/image/storJ.png"></label>
            <div class="arrow">
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <button mat-button *ngIf="isAuthenticated() && currentUrl != '/storJPage'" (click)="goBack(currentUrl)">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
        </div>
        <div class="div-button">
            <!-- Mostra questi pulsanti solo se l'utente NON è autenticato -->
            <button mat-button routerLink="/login" *ngIf="!isAuthenticated()">Accedi</button>
            <button mat-button routerLink="/register" *ngIf="!isAuthenticated()">Registrati</button>

            <!-- Mostra il bottone "Paga" solo se showPaymentButton è true -->
            <button mat-button routerLink="/payment" *ngIf="currentUrl === '/storJPage' && showPaymentButton">Paga</button>

            <!-- Mostra il bottone "Crea Scenario" solo se l'utente è su "/createStory" -->
            <button mat-button *ngIf="currentUrl === '/createStory' && isAuthenticated() && !isInTextEditMode"
                (click)="saveStory()">Salva
                Storia</button>
            <button mat-button routerLink="/formScenario"
                *ngIf="currentUrl === '/createStory' && isAuthenticated() && !isInTextEditMode">Crea
                Scenario</button>
            <button mat-button routerLink="/storyObjects"
                *ngIf="currentUrl === '/createStory' && isAuthenticated()">Oggetti</button>

            <!-- Mostra il bottone "Crea oggetto" solo se l'utente è su "/storyObjects" -->
            <button mat-button routerLink="/formStoryObject"
                *ngIf="currentUrl === '/storyObjects' && isAuthenticated() && !isInTextEditMode">Crea Oggetto</button>

            <!-- Mostra questo pulsante solo se l'utente è autenticato e ha effettuato il pagamento -->
            <button mat-button routerLink="/handlerPlaypage"
                *ngIf="currentUrl === '/storJPage' &&  isAuthenticated() && !showPaymentButton">Gioca</button>

            <button mat-button routerLink="/homeStories"
                *ngIf="currentUrl === '/storJPage' && isAuthenticated()">Crea</button>

            <!-- Mostra questo pulsante solo se l'utente si trova in homestories -->
            <button mat-button routerLink="/formStory" *ngIf="currentUrl === '/homeStories' && isAuthenticated()">Crea
                storia</button>

            <!-- Mostra questo pulsante solo se l'utente si trova in formMultipleChoice -->
            <button mat-button routerLink="/formMultipleChoice"
                *ngIf="currentUrl === '/multiplechoice' && isAuthenticated() && !isInTextEditMode">Crea scelta</button>

            <!-- Mostra questo pulsante solo se l'utente si trova in formSingleChoice -->
            <button mat-button routerLink="/formSingleChoice"
                *ngIf="currentUrl === '/singlechoice' && isAuthenticated() && !getIsSingleChoiceCreated() && !isInTextEditMode">Crea
                scelta</button>

            <!-- Mostra questo pulsante solo se l'utente si trova in formSingleChoice -->
            <button mat-button routerLink="/match" *ngIf="currentUrl === '/handlerPlaypage' && isAuthenticated()">Mie
                Partite</button>

            <!-- Mostra questo pulsante solo se l'utente si trova in playPage -->
            <button mat-button (click)="openInventory()"
                *ngIf="isAuthenticated() && currentUrl === '/playPage'">Inventario</button>

            <button mat-button (click)="logout()" *ngIf="isAuthenticated() && currentUrl != '/payment' && currentUrl != '/formStory' && currentUrl != '/formScenario' && currentUrl != '/formStoryObject' && currentUrl != '/formSingleChoice' && currentUrl != '/formMultipleChoice'">Logout</button>
        </div>
    </div>
</nav>