* {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
}

.login {
  text-decoration: none;
  float: right;
  width: 100%;
  margin-top: 1rem;
  margin-right: 1rem;
  gap: 0.5rem;
  font-size: 18px;
}

.logo {
  float: left;
  margin-left: 2rem;
}

label {
  font-size: 12pt;
}

label:hover {
  transition: color 0.5s;
  color: red;
}

#image {
  float: left;
  width: 75px;
  height: auto;
  transition: transform 0.5s;
}

#image:hover {
  transform: scale(1.299);
}

.arrow {
  font-weight: bold;
  color: black;
}

.div-button {
  float: right;
}

.arrow {
  color: #fff;
  font-size: 24px;
  font-weight: bold; 
}

button {
  font-size: 9pt;
  font-weight: bold;
  width: auto;
  height: auto;
  box-shadow: none !important;
  border-radius: 0%;
}

button:hover {
  transform: border 2s;
  border-bottom: 1px solid black;
}