<app-navbar></app-navbar>
<div class="container">
    <div *ngFor="let item of stories" class="story-box">
        <div class="info">
            <div><label>Titolo: {{ item.titolo }}</label></div>
            <div><label>Categoria: {{ item.categoria }}</label></div>
            <div><label>Numero Scenari: {{ item.numero_scenari }}</label></div>
        </div>
        <div class="edit-button" *ngIf="!item.statoCompletamento"><button (click)="editStory(item)">Modifica Storia</button></div>
        <div class="edit-button" *ngIf="item.statoCompletamento"><button (click)="editText()">Modifica Testo Storia</button></div>
    </div>
</div>
