<app-navbar></app-navbar>
<div class="container" *ngIf="!isInTextEditMode">
    <div class="div-multiple-choice">
        <div class="div-title">
            <p id="title">Inserisci i <span>dati</span> della <span>scelta multipla</span></p>
        </div>
        <div class="div-form">
            <form (ngSubmit)="onSubmit()">
                <div class="single-form">
                    <label for="testo">Testo<span>*</span></label>
                    <textarea id="testo" name="testo" maxlength="50" required [(ngModel)]="testo"></textarea>
                </div>
                <div class="single-form">
                    <label for="idScenarioSuccessivo">Scenario successivo alla risposta<span>*</span></label>
                    <select id="idScenarioSuccessivo" name="idScenarioSuccessivo" required [(ngModel)]="idScenarioSuccessivo">
                        <option disabled>Testo dello scenario successivo</option>
                        <option *ngFor="let scenario of storyScenarios" [value]="scenario.id">{{ scenario.testo }}</option>
                    </select>
                </div>
                <div class="single-form">
                    <label for="objectSelect">Oggetto Richiesto dalla scelta</label>
                    <select id="objectSelect" name="objectSelect" [(ngModel)]="selectedObjectId">
                        <option disabled>Nome dell'oggetto</option>
                        <option [value] = "-1">---</option>
                        <option *ngFor="let obj of storyObjects" [value]="obj.id">{{ obj.nome }}</option>
                    </select>
                </div>    
                <button type="submit">Crea</button>
            </form>
        </div>
    </div>
</div>
<!-- html attuato per modificare i campi di una scelta multipla-->
<div class="container" *ngIf="isInTextEditMode">
    <div class="div-multiple-choice">
        <div class="div-title">
            <p id="title">Aggiorna i <span>dati</span> della <span>scelta multipla</span></p>
        </div>
        <div class="div-form">
            <form class="multiple-choice-form" (ngSubmit)="updateMultipleChoicheText()">
                <div class="single-form">
                    <label for="testo">Testo</label>
                    <textarea *ngIf="currentMultipleChoiche" id="testo" name="testo" maxlength="50" required [ngModel]="currentMultipleChoiche.testo" (ngModelChange)="onTextChange($event)"></textarea>  
                </div>
                <div class="single-form">
                    <label for="idScenarioSuccessivo">Testo Scenario Successivo</label>
                    <input type="text" [value]="currentScenarioText" readonly>
                </div>
            <button type="submit" class="btn-creazione" [disabled]="isUpdated()">Aggiorna</button>
            </form>
        </div>
    </div>
</div>