<app-navbar></app-navbar>
<div class="container" *ngIf="!isInTextEditMode">
    <div class="div-multiple-choice">
        <div class="div-title">
            <p id="title">{{ 'enter_the' | translate }} <span>{{ 'data' | translate }}</span> {{ 'of_the' | translate }} <span>{{ 'multiple_choice' | translate }} </span></p>
        </div>
        <div class="div-form">
            <form (ngSubmit)="onSubmit()">
                <div class="single-form">
                    <label for="testo">{{ 'text' | translate }}<span>*</span></label>
                    <textarea id="testo" name="testo" maxlength="50" required [(ngModel)]="testo"></textarea>
                </div>
                <div class="single-form">
                    <label for="idScenarioSuccessivo">{{ 'next_scenario_after_response' | translate }}<span>*</span></label>
                    <select id="idScenarioSuccessivo" name="idScenarioSuccessivo" required [(ngModel)]="idScenarioSuccessivo">
                        <option disabled>{{ 'next_scenario_after_response' | translate }}</option>
                        <option *ngFor="let scenario of storyScenarios" [value]="scenario.id">{{ scenario.testo }}</option>
                    </select>
                </div>
                <div class="single-form">
                    <label for="objectSelect">{{ 'required_item' | translate }}</label>
                    <select id="objectSelect" name="objectSelect" [(ngModel)]="selectedObjectId">
                        <option disabled>{{ 'required_item' | translate }}</option>
                        <option [value] = "-1">---</option>
                        <option *ngFor="let obj of storyObjects" [value]="obj.id">{{ obj.nome }}</option>
                    </select>
                </div>    
                <button type="submit">{{ 'create' | translate }}</button>
            </form>
        </div>
    </div>
</div>
<!-- html attuato per modificare i campi di una scelta multipla-->
<div class="container" *ngIf="isInTextEditMode">
    <div class="div-multiple-choice">
        <div class="div-title">
            <p id="title">{{ 'update_the' | translate }} <span>{{ 'data' | translate }}</span> {{ 'of_the' | translate }} <span>{{ 'multiple_choice' | translate }}</span></p>
        </div>
        <div class="div-form">
            <form class="multiple-choice-form" (ngSubmit)="updateMultipleChoicheText()">
                <div class="single-form">
                    <label for="testo">{{ 'text' | translate }}</label>
                    <textarea *ngIf="currentMultipleChoiche" id="testo" name="testo" maxlength="50" required [ngModel]="currentMultipleChoiche.testo" (ngModelChange)="onTextChange($event)"></textarea>  
                </div>
                <div class="single-form">
                    <label for="idScenarioSuccessivo">{{ 'next_scenario_text' | translate }}  </label>
                    <input type="text" [value]="currentScenarioText" readonly>
                </div>
            <button type="submit" class="btn-creazione" [disabled]="isUpdated()">{{ 'update' | translate }}</button>
            </form>
        </div>
    </div>
</div>