<app-navbar></app-navbar>
<div class="multiple-choice-container" *ngIf="!isInTextEditMode">
    <h1>Inserisci le informazioni della scelta multipla</h1>
    <form class="multiple-choice-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="testo">Testo della Domanda:</label>
            <textarea id="testo" name="testo" required [(ngModel)]="testo"></textarea>
        </div>
        <div class="form-group">
            <label for="idScenarioSuccessivo">ID Scenario Successivo:</label>
            <select id="idScenarioSuccessivo" name="idScenarioSuccessivo" required [(ngModel)]="idScenarioSuccessivo">
                <option *ngFor="let scenario of storyScenarios" [value]="scenario.id">{{ scenario.testo }} (ID: {{scenario.id }})</option>
            </select>
        </div>
         <!-- Sezione per la selezione di un oggetto -->
         <div class="form-group">
            <label for="objectSelect">Oggetto Richiesto:</label>
            <select id="objectSelect" name="objectSelect" [(ngModel)]="selectedObjectId">
                <option *ngFor="let obj of storyObjects" [value]="obj.id">{{ obj.nome }}</option>
            </select>
        </div>
       
        <button type="submit" class="btn-creazione">Crea Scelta Multipla</button>
    </form>
</div>

<!--se mi trovo nella modalità di modifica testo scenario-->
<div class="multiple-choice-container" *ngIf="isInTextEditMode">
    <h1>Aggiorna le informazioni della scelta multipla</h1>
    <form class="multiple-choice-form" (ngSubmit)="updateMultipleChoicheText()">
        <div class="form-group">
            <label for="testo">Testo della Domanda:</label>
            <textarea *ngIf="currentMultipleChoiche" id="testo" name="testo" required [ngModel]="currentMultipleChoiche.testo" (ngModelChange)="onTextChange($event)"></textarea>  
        </div>
        <div class="form-group">
            <label for="idScenarioSuccessivo">ID Scenario Successivo:</label>
            <input type="text" [value]="currentMultipleChoiche?.id_scenario_successivo" readonly>
        </div>
       
        <button type="submit" class="btn-creazione" [disabled]="isUpdated()">Aggiorna Scelta Multipla</button>
    </form>
</div>