<app-navbar></app-navbar>
<div class="container" *ngIf="!isInTextEditMode">
    <div class="div-single-choice">
        <p id="title">Inserisci i <span>dati</span> dell'<span>indovinello</span></p>
        <form (ngSubmit)="onSubmit()">
            <div>
                <label id="label-left" for="testo">Testo</label>
                <textarea id="testo" name="testo" [(ngModel)]="testo" required></textarea>
            </div>
            <div>
                <label id="label-left" for="risposta">Risposta</label>
                <textarea id="risposta" name="risposta" [(ngModel)]="risposta" required></textarea>
            </div>
            <div class="div-select">
                <label for="idScenarioRispostaCorretta">Destinazione risposta corretta</label>
                <select id="idScenarioRispostaCorretta" name="idScenarioRispostaCorretta" [(ngModel)]="idScenarioRispostaCorretta" required>
                    <option disabled>Identificativo dello scenario dopo la risposta corretta</option>
                    <option *ngFor="let scenario of storyScenarios" [value]="scenario.id">{{ scenario.testo }} [Id:{{scenario.id }}]</option>
                </select>
            </div>
            <div class="div-select">
                <label for="idScenarioRispostaSbagliata">Destinazione risposta sbagliata</label>
                <select id="idScenarioRispostaSbagliata" name="idScenarioRispostaSbagliata" [(ngModel)]="idScenarioRispostaSbagliata" required>
                    <option disabled>Identificativo dello scenario dopo la risposta errata</option>
                    <option *ngFor="let scenario of storyScenarios" [value]="scenario.id">{{ scenario.testo }} [Id:{{scenario.id }}]</option>
                </select>
            </div>
            <button type="submit">Crea</button>
        </form>
    </div>
</div>
<!-- html attuato per modificare i campo di una scelta -->
<div class="container" *ngIf="isInTextEditMode">
    <div class="div-single-choice">
        <p id="title">Aggiorna i <span>dati</span> dell'<span>indovinello</span></p>
        <form (ngSubmit)="updateSingleChoicheText()">
            <div>
                <label id="label-left" for="testo">Testo</label>
                <textarea *ngIf="currentSingleChoiche" id="testo" name="testo" required [ngModel]="currentSingleChoiche.testo" (ngModelChange)="onTextChange($event)"></textarea>
            </div>
            <div>
                <label id="label-left" for="risposta">Risposta</label>
                <textarea *ngIf="currentSingleChoiche" type="text" id="risposta" name="risposta" required [ngModel]="currentSingleChoiche.risposta" (ngModelChange)="onAnswerChange($event)" placeholder="Inserisci la risposta corretta"></textarea>
            </div>
            <div class="div-select">
                <label for="idScenarioRispostaCorretta">Destinazione corretta</label>
                <input type="text" [value]="currentSingleChoiche?.id_scenario_risposta_corretta" readonly>
            </div>
            <div class="div-select">
                <label for="idScenarioRispostaSbagliata">Destinazione sbagliata</label>
                <input type="text" [value]="currentSingleChoiche?.id_scenario_risposta_sbagliata" readonly>
            </div>
            <button type="submit" class="btn-creazione" [disabled]="isUpdated()">Aggiorna</button>
        </form>
    </div>
</div>