<app-navbar></app-navbar>
<div class="container">
    <div *ngFor="let item of multipleChoice" class="multipleChoice-box">
        <div class="info">
            <div><label>id_scenario: {{ item.id_scenario }}</label></div>
            <div><label>Testo: {{ item.testo }}</label></div>
            <div><label>id_scenario_successivo: {{ item.id_scenario_successivo }}</label></div>
        </div>
        <div class="remove-button"><button (click)="removemultipleChoice(item.id)">Rimuovi</button></div>
    </div>
</div>
