<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="parent">
        <div class="container">
            <div class="login-box">
                <h2>Login</h2>
                <form action="#">
                    <div class="input-box">
                        <label>username</label>
                        <input type="username" [(ngModel)]="loginObj.username" name="username" required>
                      
                    </div>
                    <div class="input-box">
                        <label>Password</label>
                        <input type="password" [(ngModel)]="loginObj.Password" name="Password" required>
                       
                    </div>
                    
                    <button type="button" class="btn" (click)="onLogin()" >Login</button>
                     
                </form>

                <p>Non sei registrato? <a href="/register">Registrati qui</a></p>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            </div>
            
        </div>
    </div>
</body>
</html>