* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-radius: 5px;
}

#div-login {
    display: inline;
    text-align: center;
    width: 600px;
    height: 250px;
    margin-top: 10rem;
    padding: 25px 25px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#title {
    font-size: 18pt;
    font-weight: bold;
}

span {
    color: red;
}

#div-form {
    display: inline-block;
    text-align: left;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 40%;
    gap: 2rem;
}

label:hover {
    transition: color 0.5s;
    color: darkred;
}

input {
    font-size: 9pt;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.5rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:hover {
    transition: border-color 0.5s;
    border: 1px solid darkred;
}

button {
    font-size: 10pt;
    color: white;
    width: 82.5%;
    height: auto;
    margin-bottom: 2rem;
    padding: 7.5px 7.5px;
    background-color: crimson;
    border: none !important;
    border-radius: 10px;
}

button:hover {
    transition: background-color 0.5s;
    background-color: darkred;
}

a {
    text-decoration: none;
    color: red;
    border-radius: none !important;
}

a:hover {
    transition: color 0.5s;
    transition: border 0.5s;
    color: darkred;
    border-bottom: 1px solid darkred;
}