<div class="container">
    <div id="div-login">
        <p id="title">Inizia a <span>giocare</span>, accedi al sito!</p>
        <form (ngSubmit)="onLogin()">
            <div id="div-form">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Inserisci il tuo nickname" [(ngModel)]="username">
            </div>
            <div id="div-form">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Inserisci la tua password" required  [(ngModel)]="password">
            </div>
        </form>
        <button type="submit" class="btn-login">Login</button>
        <p class="register-link">Non sei ancora <span>registrato</span>? <a href="/register">Clicca qui</a></p>
    </div>
</div>
