<app-navbar></app-navbar>
<div class="container">
    <div id="div-login">
        <p id="title"> {{ 'start' | translate }} <span>{{ 'playing' | translate }}</span> {{ 'log_in_to_site' | translate }}</p>
        <form (ngSubmit)="onLogin()">
            <div id="div-form">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="{{ 'placeholders.enter_username' | translate }}" maxlength="50" required [(ngModel)]="username">
            </div>
            <div id="div-form">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="{{ 'placeholders.enter_password' | translate }}"  maxlength="50"  required  [(ngModel)]="password">
            </div>
            <button type="submit" class="btn-login">{{ 'login' | translate }}</button>
        </form>
        <p class="register-link">{{ 'not_registered_yet' | translate }} <a href="/register">{{ 'click_here' | translate }}</a></p>
    </div>
</div>
