* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
}

.div-object {
    display: grid;
    align-items: center;
    justify-content: center;   
    width: 35%;
    margin-top: 5rem;
    padding: 25px 25px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    box-shadow: 15px 15px 15px #aaaa;
}

#title {
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

span {
    color: red;
}

.div-form{
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

label {
    font-size: 11pt;
    float: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

label:hover {
    transition: color 0.5s;
    color: darkred;
}

input {
    font-size: 11pt;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:hover {
    transition: border 0.5s;
    border: 1px solid darkred;
}

textarea {
    font-size: 11pt;
    width: 98.5%;
    height: 75px;
    resize: none;
}

button {
    font-size: 10pt;
    color: white;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 7.5px 7.5px;
    background-color: crimson;
    border: none !important;
    border-radius: 5px;
}

button:hover {
    transition: background-color 0.5s;
    background-color: darkred;
}

.message-support {
    font-size: 11pt;
    text-align: center;
    margin-top: 0.5rem;
}