<app-navbar></app-navbar>
<div class="container" *ngIf="!isInTextEditMode">
    <div class="div-object">
        <p id="title">Inserisci i <span>dati</span> dell'<span>oggetto</span></p>
        <form (ngSubmit)="onSubmit()">
            <div class="div-form">
                <label for="nome">Nome<span>*</span></label>
                <input type="text" id="nome" name="nome" required [(ngModel)]="nome" maxlength="50">
                <label for="descrizione">Descrizione<span>*</span></label>
                <textarea id="descrizione" name="descrizione" required [(ngModel)]="descrizione" maxlength="255"></textarea>
                <button type="submit">Crea</button>
            </div>
        </form>
    </div>
</div>
<!-- html attuato per aggiornare i campi di un oggetto -->
<div class="container" *ngIf="isInTextEditMode">
    <div class="div-object">
        <p id="title">Aggiorna i <span>dati</span> dell'<span>oggetto</span></p>
        <form (ngSubmit)="updateStoryObjectText()">
            <div class="div-form">
                <label for="nome">Nome</label>
                <input *ngIf="currentStoryObject" type="text" id="nome" name="nome"  maxlength="50"  required [ngModel]="currentStoryObject.nome"  (ngModelChange)="onNameChange($event)"> 
                <label for="descrizione">Descrizione</label>
                <textarea *ngIf="currentStoryObject" id="descrizione" name="descrizione" required [ngModel]="currentStoryObject.descrizione" (ngModelChange)="onDescriptionChange($event)" maxlength="255"></textarea>
                <button type="submit" class="btn-creazione" [disabled]="isUpdated()">Aggiorna</button>
            </div>
        </form>
    </div>
</div>