<div class="registration-container">
    <h1>Form registrazione</h1>
    <form class="registration-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required  [(ngModel)]="password">
        </div>
        <button type="submit" class="btn-register">Registrati</button>
    </form>
</div>
