<app-navbar></app-navbar>

<!--Div per il filtro-->
<div class="filters">
    <select [(ngModel)]="filterType">
        <option value="Autore">Autore</option>
        <option value="Categoria">Categoria</option>
        <option value="Numero Scenari">Numero Scenari</option>
    </select>
    <input type="text" [(ngModel)]="filterValue" placeholder="Valore del filtro">
    <button (click)="filterStories(filterType, filterValue)">Filtra</button>
</div>
<div *ngIf="noStoriesFound" class="no-stories-container">
    <div class="no-stories-message">Nessuna storia trovata</div>
</div>

<!--Div per il box delle storie salvate-->
<div class="container">
    <div *ngFor="let item of stories" class="story-box">
        <div class="info">
            <div><label>Titolo: {{ item.titolo }}</label></div>
            <div><label>Autore: {{ authorMap.get(item.id) }}</label></div>
            <div><label>Categoria: {{ item.categoria }}</label></div>
            <div><label>Numero Scenari: {{ item.numero_scenari }}</label></div>
        </div>
        <div class="play-button"><button (click)="playStory(item)"> Gioca Storia</button></div>
    </div>
</div>
