* {
    font-family: Arial, Helvetica, sans-serif;
}

.container-inventory {
    display: grid;
    text-align: left;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: rgb(244, 244, 244);
}

.div-title {
    text-align: center;
    margin-top: 0.5rem;
}

#title {
    font-size: 14pt;
    font-weight: bold;
}

span {
    color: red;
}

#pop-up-text {
    margin-left: 0.5rem;
    padding-left: 5px;
    border-left: 2px solid rgb(204, 204, 204);
}

#pop-up-text:hover {
    text-decoration: underline;
    transform: border 0.5s;
    margin-left: 0.75rem;
    padding-left: 5px;
    border-left: 3px solid rgb(204, 204, 204);
}

.button-close {
    font-weight: bold;
    width: 100%;
    margin-bottom: 1rem;
    transition: 0.5s;
}

.container-story-single {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: white;
}

.div-text-scenario-single {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.div-choice-single {
    display: inline;
    text-align: center;
    width: 100%;
    border-top: 2px solid rgb(204, 204, 204, 0.7);
}

.div-title-single {
    text-align: center;
    margin-top: 1.5rem;
}

#title {
    font-size: 14pt;
    font-weight: bold;
}

.div-scenario-single {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
    height: auto;
    border: none !important;
}

.button-single-choice {
    font-size: 9pt;
    font-weight: bold;
    color: black;
    width: 150px;
    height: 50px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: rgb(244, 244, 244);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaaa;
    transition: 0.5s;
}

.container-story-multiple {
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 15px 15px;
    margin-bottom: 1rem;
}

.div-title-multiple {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.div-text-scenario-multiple {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(204, 204, 204, 0.7);
}

.div-scenario-multiple {
    display: inline;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.div-title {
    margin-bottom: 1.5rem !important;
}

.div-inline-button {
    display: inline;
    justify-content: center;
    text-align: center;   
    padding: 0.5rem;
}

.button-multiple-choice {
    font-size: 9pt;
    font-weight: bold;
    width: 40%;
    height: 60px;
    margin-bottom: 1rem;
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px #aaaa;
    transition: 0.5s;
}

button:hover {
    transition: color 0.5s;
    transition: backmultipleground-color 0.5s;
    transition: border 0.25s;
    color: white;
    background-color: crimson;
    border: 2.5px solid black;
}