* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.div-scenario {
    display: inline;
    text-align: center !important;
    width: 40%;
    height: auto;
    margin-top: 3rem;
    padding: 25px 25px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    box-shadow: 15px 10px 15px #aaaaaa;
}

#title {
    text-align: center;
    width: auto;
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 2rem;
}

p {
    text-align: left;
    font-size: 16px;
}

span {
    color:red;
}

.div-select {
    display: inline-block;
    text-align: left;
    padding: 0.5rem;
    width: 45%;
}

label {
    display: block;
}

label:hover {
    transition: color 0.5s;
    color: darkred;
}

#label-left {
    float: left;
    margin-left: 1.2rem;
}

textarea {
    font-size: 8pt;
    width: 93.5%;
    height: 150px;
    box-sizing: border-box;
    resize: none;
}

#tipoRisposta, #tipoScenario {
    font-size: 9pt;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.5rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.div-object {
    justify-content: center;
    width: 100%;
}

#objectSelect {
    font-size: 9pt;
    box-sizing: border-box;
    width: 93.5%;
    margin-top: 0.5rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

#tipoRisposta:hover, #tipoScenario:hover, #objectSelect:hover {
    transition: border 0.5s;
    border: 1px solid darkred;
}

button {
    font-size: 10pt;
    color: white;
    width: 93.5%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 7.5px 7.5px;
    background-color: crimson;
    border: none !important;
    border-radius: 10px;
}

button:hover {
    transition: background-color 0.5s;
    background-color: darkred;
}