<app-navbar></app-navbar>
<div class="scenario-container" *ngIf="!isInTextEditMode">
    <h1>Inserisci le informazioni dello scenario</h1>
    <form class="scenario-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="testo">Testo dello Scenario:</label>
            <textarea id="testo" name="testo" required [(ngModel)]="testo"></textarea>
        </div>
        <div class="form-group">
            <label for="tipoRisposta">Tipo di Risposta:</label>
            <select id="tipoRisposta" name="tipoRisposta" required [(ngModel)]="tipoRisposta">
                <option value="INDOVINELLO">INDOVINELLO</option>
                <option value="MULTIPLA">MULTIPLA</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tipoScenario">Tipo di Scenario:</label>
            <select id="tipoScenario" name="tipoScenario" required [(ngModel)]="tipoScenario">
                <option value="INIZIALE">INIZIALE</option>
                <option value="NORMALE">NORMALE</option>
                <option value="FINALE">FINALE</option>
            </select>
        </div>
        <!-- Sezione per la selezione di un oggetto -->
        <div class="form-group">
            <label for="objectSelect">Oggetto Droppato:</label>
            <select id="objectSelect" name="objectSelect" [(ngModel)]="selectedObjectId">
                <option *ngFor="let obj of storyObjects" [value]="obj.id">{{ obj.nome }}</option>
            </select>
        </div>
        <button type="submit" class="btn-creazione">Crea Scenario</button>
    </form>
</div>


<!--se mi trovo nella modalità di modifica testo scenario-->
<div class="scenario-container" *ngIf="isInTextEditMode">
    <h1>Modifica il testo dello scenario</h1>
    <form class="scenario-form" (ngSubmit)="updateScenarioText()">
        <div class="form-group">
            <label for="testo">Testo dello Scenario:</label>
            <textarea *ngIf="currentScenario" id="testo" name="testo" required [ngModel]="currentScenario.testo"
                (ngModelChange)="onScenarioTextChange($event)"></textarea>
        </div>
        <div class="form-group">
            <label for="tipoRisposta">Tipo di Risposta:</label>
            <input type="text" [value]="currentScenario?.tipo_risposta" readonly>
        </div>
        <div class="form-group">
            <label for="tipoScenario">Tipo di Scenario:</label>
            <input type="text" [value]="currentScenario?.tipo_scenario" readonly>
        </div>
        <button type="submit" class="btn-creazione" [disabled]="isUpdated()">Aggiorna Scenario</button>
    </form>
</div>